

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
  color: #fff;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.home-h1 {
  font-family: 'Syne';
}

.creators-button {
  font-family: 'Syne';
  background: black;
  color:#08FF08;
  border: 1px solid #08FF08;
  padding: 25px 50px;
  margin: 25px;
}

.users-button {
  font-family: 'Syne';
  background: black;
  color:#FF0883;
  border: 1px solid #FF0883;
  padding: 25px 60px;
  margin: 25px;
}

.signin {
  font-family: 'Space Grotesk';
  display: block;
  width: 50%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  color: #08FF08;
  border: 1px solid;
  padding: 100px 50px;
}

.signin-button {
    display: inline-block;
    font-weight: 400;
    background: #08FF08;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    /* vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.signup-form {
  font-family: 'Space Grotesk';
  display: block;
  width: 50%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  color: #FF0883;
  border: 1px solid;
  padding: 100px 50px;
}

.join-button {
    display: inline-block;
    font-weight: 400;
    background: #FF0883;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
