body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.creators-button {
  font-family: 'Syne';
  background: black;
  color:#08FF08;
  border: 1px solid #08FF08;
  padding: 25px 50px;
  margin: 25px;
}

.users-button {
  font-family: 'Syne';
  background: black;
  color:#FF0000;
  border: 1px solid #FF0000;
  padding: 25px 55px;
  margin: 25px;
}
